
body{
    font-size: 45px;
}

.hero{
    margin-top: 20px;
    margin-bottom: 20px;

}

/*TOP SECTION*/
.top-section{
    margin: 90px 40px 30px 40px;

}


h1{
    color: purple;
    font-size: 5rem;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -5px;
    margin: 0px;
}
p{
    color: purple;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0px;

}

/*Link Part*/
.links{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.heightNwidthForLinks{
    height: 40px;
    width: 40px;
}


/*BOTTOM SECTION*/

.bottom-section{
    margin: 50px 40px 90px 40px;
}

.blocks{
    height: 50px;
    justify-content: space-evenly;
    display: block;
}

#b1{
    background-color: rgb(249, 140, 249);    
}
#b2{
    background-color: rgb(219, 101, 219);
    margin-top: 20px;

}
#b3{
    background-color: rgb(167, 42, 167);
    margin-top: 20px;

}
#b4{
    background-color: rgb(111, 15, 111);
    margin-top: 20px;
}      
