h1{
    color: purple;
    margin-top: 150px;
    margin-left: 60px;
    margin-bottom: 5px;
    font-size: 150px;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -9px;
}
p{
    color: purple;
    margin-left: 80px;
    margin-top: 2px;
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

  